body{
    background-color: blue;
}
.carousel .carousel-indicators button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: -176px;
    position: relative;
    background-color: black;
}

.carousel .carousel-control-next-icon.changed {
    background-image: url("./arrow-right-solid.svg");
}
.carousel .carousel-control-prev-icon {
    background-image: url("./leftarrow.png");
    background-color: black;
}
.carousel .carousel-control-prev{
    left: -110px;
}
.carousel .carousel-control-next{
    right: -110px;
}
img{
    height: 90vh;
   margin: auto;
}
.discription{
    display: flex;
}
.previous{
    left: 20px;
    position: relative;
}
.carousel {
    width:900px;
    height:460px;
    margin: auto;
    top: 10px;
  }
  @media (max-width: 900px) {
    .carousel {
      width:auto;
      height:auto;
    }
}